.nav-bar {
    //margin: auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 91px;
    align-items: center;
    padding-left: 20px;
    padding-right: 150px;
    @include laptop {
    padding-right: 40px;
    }
    .nav-link {
        display:flex;
        color: white;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
    }
}

