@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*colors*/
$color-1: #FF6060;
$color-2: #020203;
$color-3: #ffffff;



/*breakpoints*/
$breakpoints: (
    laptop: 1024px,
    laptop-l: 1440px,
    tablet:768px,

);
